.skeletonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    animation: skeleton-loading 1s linear infinite alternate;
    height: 1.8rem;
    border-radius: 2px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
